* {
    direction: rtl;
    font-family: "David";
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "David";
}

.topbar > div {
    direction: rtl;
    display: grid;
    grid-template-columns: 12fr 1fr 1fr;
}


nav.bd-links, .bd-links, .sidebar-primary-item, .bd-sidebar-primary{
    justify-self: right;
    display: grid;
    margin-right: 0;
}

/* Target the active/current navigation item */
.bd-sidenav .current.active {
  border-left: none; /* Remove any left border */
  border-right: 3px solid #007acc; /* Add a right border with your desired color and width */
}

/* Adjust padding if needed */
.bd-sidenav .current.active a {
  padding-right: 8px; /* Adjust padding on the right for spacing */
}



div .bd-content .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
