* {
    /*direction: rtl;*/
    font-family: "David";
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "David";
}


/*div .bd-content .section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*}*/

.bd-article-container{
    direction: rtl;
}

/*mjx-container {*/
/*    direction: ltr*/
/*}*/
